body {
  color: white; /define a cor do texto para branco/
 background: black; /define a cor de fundo da pagina para preto/
margin: 0px; /remove todas as margens externas do elemento,colocando ele para o lado direito da borda removendo o espaço e quanto mais numeros são adicionados ele vai para o centro/
  font-family: "Chakra Petch", sans-serif; /define a fonte do texto/
  margin-bottom: 100px; /adiciona 100px de espaço para baixo do elemento/
}
.chamada{
background:rgb(184, 156, 213); /Define a cor de fundo do elemento para uma cor específico de roxo usando valores RGB./
padding-bottom: 80px; /Adiciona um espaço de 80 pixels abaixo do conteúdo dentro deste elemento./
padding-top: 80px; /Adiciona um espaço de 80 pixels acima do conteúdo dentro deste elemento./
display: flex; /Transforma o elemento em um contêiner flexível, o que permite que seus filhos , os intens sejam facilmente alinhados e organizados./
justify-content: center; /Transforma o elemento em um contêiner flexível, o que permite que seus filhos sejam facilmente alinhados e organizados na direção horizontal./
}

.chamada-texto{
margin-right:5%; /Adiciona um espaço de 5% da largura do elemento pai à direita deste elemento./
}

h1{
  font-size:40px; /Define o tamanho do texto para todos <h1>os títulos para 40 pixels./
}

p{
  font-size:20px; /Define o tamanho do texto para todos <p>os parágrafos como 20 pixels./
}

KETTLYN GEOVANA RODRIGUES DE CASTRO, 2 min

